body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

/*all dividing sections*/

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px 80px
}

/*first body*/

.first_body {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 80px 400px;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.first_body .left {
    flex: 1 0 0;
}

.first_body .right {
    background-color: #E5E7EB;
    height: 150px;
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#1F2937
}

/*second body*/
.second_body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    padding: 80px 150px;header
}

.container_info {
    display: flex;
}

.info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*third_body or the quote body*/

.third_body {
    background-color: #E5E7EB;
    padding: 80px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*fourth_body*/

.fourth_body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 50px 70px
}

.action {
    background-color: #3882F6;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 50px 0px;
}

/*minor details, i.e. ul a button, etc. w/ no effect on rest of code */
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

